.home {
    display: grid;                  /* grid */
    min-height: 100vh;              /* min-h-screen */
    grid-template-columns: repeat(2, 1fr); /* grid-cols-2 */
    -webkit-font-smoothing: antialiased;
      /* antialiased */
}