.form {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    margin-top: 0.5rem;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}

.labelButton {
    cursor: pointer;
}
